<div class="flex flex-wrap gap-2 rounded-lg shadow-lg m-4 p-4 items-center bg-gray-100 lg:mx-16 justify-center">
    <a href="https://www.youtube.com/@Dev_Xavier" target="_blank">
        <img src="https://img.shields.io/static/v1?message=Youtube&logo=youtube&label=&color=FF0000&logoColor=white&labelColor=&style=for-the-badge"
            height="25" alt="youtube logo" />
    </a>
    <a href="https://www.linkedin.com/in/xavier-santamaria-6821b4172/" target="_blank">
        <img src="https://img.shields.io/static/v1?message=LinkedIn&logo=linkedin&label=&color=0077B5&logoColor=white&labelColor=&style=for-the-badge"
            height="25" alt="linkedin logo" />
    </a>
    <a href="mailto:xavier.e.santamaria.ramirez@gmail.com?Subject=Contactame" target="_blank">
        <img src="https://img.shields.io/badge/Gmail-EA4335?logo=gmail&logoColor=fff&style=for-the-badge"
            alt="Gmail Badge">
    </a>
    <a href="https://github.com/NoMeeseeks" target="_blank">
        <img src="https://img.shields.io/badge/GitHub-181717?logo=github&logoColor=fff&style=for-the-badge"
            alt="GitHub Badge">
    </a>
</div>