<form action="" class="flex flex-col flex-wrap gap-2 rounded-lg shadow-lg m-4 p-4 items-center bg-gray-100 lg:mx-16">
    <label for="">Nombre</label>
    <input type="text" name="" id="">
    <label for="">Apellido</label>
    <input type="text" name="" id="">
    <label for="">Correo</label>
    <input type="text" name="" id="">
    <label for="">Descripcion</label>
    <input type="text" name="" id="">
    <button class="flex items-center justify-center mt-2 px-8 py-3 font-medium
rounded-md text-white bg-purple-700 shadow uppercase hover:bg-purple-800
hover:shadow-lg transform transition hover:-translate-y-1 focus:ring-2
focus:ring-purple-600 ring-offset-2 outline-none focus:bg-purple-800
focus:shadow-lg active:bg-purple-900">Enviar</button>
</form>