<div class="rounded-lg ">
    <h3>Proyectos</h3>
    <div>
        <p>bigofrafia</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et reiciendis a ducimus, ipsa
            dignissimos
            numquam illum optio ab, eum explicabo iusto magnam nihil enim assumenda quam pariatur totam,
            architecto nemo?</p>
    </div>
    <a>tecnologias usadas</a>
    <ul>
        <li>Angular</li>
        <li>Html</li>
        <li>Css</li>
        <li>Tailwind</li>
    </ul>
</div>