<div class="flex flex-col flex-wrap gap-4 bg-gray-200 scroll-smooth">

    <!-- Presentacion -->
    <div class="flex flex-col flex-wrap rounded-lg justify-center items-center shadow-lg m-4 p-4 lg:mx-16 bg-white">

        <h1 class="text-2xl font-bold mb-4">Xavier Portafolio</h1>

        <img src="https://avatars.githubusercontent.com/u/87624970?v=4" class="rounded-full w-52 max-w-none"
            alt="Imagen de perfil en Github" />

        <div class="flex mt-8 justify-center gap-0.5">

            <a class="flex items-center justify-center px-8 py-3 font-medium
            rounded-md text-white bg-purple-700 shadow uppercase hover:bg-purple-800
            hover:shadow-lg transform transition hover:-translate-y-1 focus:ring-2
            focus:ring-purple-600 ring-offset-2 outline-none focus:bg-purple-800
            focus:shadow-lg active:bg-purple-900" href="#proyectos">Proyectos</a>

            <a class="flex items-center justify-center px-8 py-3 ml-4 font-medium
            rounded-md text-purple-700 bg-white shadow uppercase hover:shadow-lg
            transform transition hover:-translate-y-1 focus:ring-2 
            focus:ring-purple-600 ring-offset-2 outline-none focus:shadow-lg" href="#contacto">Contacto</a>

        </div>
    </div>

    <!-- Muestra de proyectos principales -->
    <div class="flex flex-wrap gap-2 sm:gap-4 rounded-lg shadow-lg m-4 p-4  lg:mx-16 bg-white" id="proyectos">

        @for (repo of repositorios; track $index)
        {
        <app-repositorio class="flex-auto" [titulo]="repo.name" [descripcion]="repo.description"
            [github]="repo.html_url" [lenguajesUrl]="repo.languages_url" />
        }

    </div>

    <div>
        <app-contacto />
    </div>
</div>



<!-- <div class="flex flex-col p-4 gap-2 lg:gap-0 ">
    bg-gradient-to-r from-purple-300 to via-pink-300 to-yellow-300
    <div class="flex flex-col items-center rounded-lg  shadow-lg p-6 lg:m-16  bg-white">
        <h1 class="text-2xl font-bold mb-4">Portafolio</h1>
        <img src="https://avatars.githubusercontent.com/u/87624970?v=4" class="rounded-full" alt="Imagen de perfil" />
        <div class="flex mt-8 justify-center gap-0.5">
            <a class="flex items-center justify-center px-8 py-3 font-medium
            rounded-md text-white bg-green-700 shadow uppercase hover:bg-green-800
            hover:shadow-lg transform transition hover:-translate-y-1 focus:ring-2
            focus:ring-green-600 ring-offset-2 outline-none focus:bg-green-800
            focus:shadow-lg active:bg-green-900" href=" p-2 bg-red-500 rounde-full">Proyectos</a>
            <a class="flex items-center justify-center px-8 py-3 ml-4 font-medium
            rounded-md text-green-700 bg-white shadow uppercase hover:shadow-lg
            transform transition hover:-translate-y-1 focus:ring-2 
            focus:ring-green-600 ring-offset-2 outline-none focus:shadow-lg" href="">Contacto</a>
        </div>
    </div>
    <div class=" P-4 justify-center items-center rounded-lg bg-white shadow-lg  lg:flex  text-center lg:text-left ">
        <h1 class="text-2xl font-bold mb-4">Proyectos</h1>
        <app-repositorio />
    </div>

</div> -->